@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}


header {
    padding: min(5vh, 19rem);
    background: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


header h1 {
    margin-left: 200px;
}

header ul {
    margin-right: 200px;
}

a {
    color: #fff;
}

header ul {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

/*Estilização do menu mobile*/

.navbar {
    color: white;
    /*Cor da letra*/
    display: flex;
    /*Flexíveis*/
    justify-content: space-between;
    /*A distribuição dos itens sejam com Space-between*/
    align-items: center;
    /*Alinhamento da vertical*/
    padding: 1rem 1.5rem;
    /*Preenchimento superior/inferior e esquerda/direita*/
    height: 2.6rem;
    /*Altura do NavBar*/
}

.nav-links {
    /*Aqui estamos estilizando a UL (lista não ordenada)*/
    list-style: none;
    /*Retirando o estilo de lista*/
    display: flex;
    /*Tornando a caixa flexível, e lado a lado*/
    margin: 0;
    /*Zerando os espaços de margem que são habilitados por padrão*/
    padding: 0;
    /*Zerando os preenchimentos que são habilitados por padrão*/
}


.nav-links li {
    /*Estilizando nossa LI que está dentro da UL*/
    padding: 0 8px;
    /*Preenchimento da LI superior/inferior 0 e laterais em 9px*/
}

.nav-links a,
.nav-links-mobile a {
    /*Estamos chamando as duas âncoras para estilização, tanto da Versão Desktop quanto da versão Mobile.*/
    color: white;
    /*A cor da letra*/
    text-decoration: none;
    /*sem sublinhado*/
}



.mobile-menu {
    /*Estilização da caixa Mobile quando aberta*/
    display: none;
    /*Display: Nenhum*/
    position: fixed;
    /*Posição fixa na parte direita da página*/
    top: 0;
    /*Superior em 0 fazendo a caixa encostar ao topo*/
    right: 0;
    /*Direita em 0 fazendo a caixa encostar a direita*/
    width: 60%;
    /*Largura em porcentagem da caixa*/
    height: 100%;
    /*Altura de 100% da tela*/
    background-color: rgb(0, 0, 0);
    /*Cor de fundo*/
    flex-direction: column;
    /*direção dos itens dentro da caixa */
    align-items: center;
    /*Alinhamento na vertical do itens*/
    font-size: 1.8rem;
    /*tamanho da letra dentro da caixa*/
}

.nav-links-mobile {
    /*Lista não ordenada da versão mobile*/
    display: flex;
    /*Tornando os itens (LISTAS) flexíveis*/
    flex-direction: column;
    /*Estamos direcionando o posicionamento dessas listas*/
    text-align: end;
    /*Alinhando o texto ao centro*/
    gap: 1.2rem;
    /*Espaço entre as listas */
    /* width: 0%; Zeramos a largura podendo retirar essa linha para testar visualizão */
    list-style: none;
    /*Estilo de lista desabilitado*/
    /* padding: 0; Preenchimento zerado, podendo também ser retirado para testes */
}

.nav-links-mobile li {
    /*listas da versão Mobile*/
    border-bottom: 1px solid #787272;
    /*Bordar inferior de cada lista*/
    padding-bottom: 1.2rem;
    /*Tamanho da borda*/
}




.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}


.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}


.flex {
    display: flex;
}


#section1 {
    padding: min(50vh, 40rem);
    background: linear-gradient(180deg, rgba(101, 100, 100, 0.545) 8.3%, rgb(53, 53, 53) 100%), url(imagens/tables-2181979_1280.jpg);
    ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    color: #fff;
}



.h2 {
    font-size: 3rem;
}


.p {
    font-size: 1.3rem;
}


.button {
    width: 90px;
    height: 20px;
    margin-top: 15px;
}

button {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: black;
    transition: 0.8s;
    border: 2px solid black;
}


#section2 {
    padding: min(35vh, 20rem);
    background-color: #fff;
    background-image: url(imagens/SOFÁ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.p-2 {
    font-size: 2rem;
}


.h3 {
    font-size: 3rem;

}


.p-3 {
    font-size: 1rem;
}


.button-2 {
    margin-top: 7px;
}

.button-2 button {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.button-2 button:hover {
    background-color: black;
    color: #fff;
    transition: 0.8s;
    border: 2px solid #fff;
}

.img {
    margin-bottom: 900px;
    width: 800px;
}









#section3 {
    background-color: black;
    padding: min(23vh, 23rem);
    background-image: url(imagens/renderizacao-3d-de-fundo-geometrico-preto-e-branco-abstrato.jpg);
    background-position: center;
    background-size: cover;
}


h4 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 40px;
}



.content-section3 {
    color: #fff;
    display: flex;
    gap: 30px;
    justify-content: center;

}

.child {
    font-size: 1.5rem;
}



.child h5 {
    margin-bottom: 24px;
}

.p {
    font-size: 14px;
}


#section4 {
    background-color: #fff;
    padding: min(15vh, 30rem);
    display: flex;
    align-items: center;
    gap: 60px;
}


.one-h6 {
    font-size: 2rem;
    margin-bottom: 7px;
}


.h6 {
    font-size: 3.5rem;
}


.p-service {
    margin-top: 20px;
}


#section4 button {
    margin-top: 20px;
    width: 210px;
    height: 40px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}


#section4 button:hover {
    background-color: black;
    color: #fff;
    transition: 0.8s;
    border: 2px solid #fff;
}


.itens-awesome {
    display: flex;
    text-align: center;

}


.list-sec04 li {
    margin-bottom: 7px;
}



.list-sec04 i {
    font-size: 1.8rem;
}

span {
    font-weight: 800;
    font-size: 1.6rem;
}

.margin-top {
    margin-top: 10px;
}


#section5 {
    background-color: #fff;
    ;
    padding: min(5vh, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.container-box div {
    width: 300px;
    height: 400px;
    background-color: #000000;
}



.child-1 {
    background-image: url(imagens/real-estate-6893072_1280.jpg);
    background-position: center;
    background-size: cover;
}


.child-2 {
    background-image: url(imagens/bathroom-1597027_1280.jpg);
    background-position: center;
    background-size: cover;
}

.child-3 {
    background-image: url(imagens/dining-area-9011242_1280.jpg);
    background-position: center;
    background-size: cover;

}

footer {
    /**/
    width: 100%;
    /**/
    padding: min(5vh, 2rem);
    /**/
    background-color: rgb(39, 39, 39);

}

.copyright-footer {
    text-align: center;
    font-size: 1.5rem;
}

footer p {
    /**/
    color: #fff;
    /**/
}




.list-foooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.ul-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}


.ul-footer li {
    color: #fff;
}




@media (max-width: 700px) {}



@media(max-width: 834px) {

    /* =====================================MOBILE===================================== */
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;

    }

    .mobile-menu {
        z-index: 999;
    }

    #btn-header {
        display: none;
    }





    .cad-mobile button {
        width: 14rem;
        height: 4rem;
        border-radius: 5px;
        background-color: #f8f4f46c;
        color: #000000;
    }



    .cad-mobile button a {
        text-decoration: none;
        color: white;

    }







    #section1 {
        padding: 6rem;
    }
}